## Python Fundamentals

### Variables

In [1]:
# This is to explain Variables

'''
1. Numbers
2. String
3. List/Tuples/Arrays/Dictionaries/Set -- store multiple values in a variable
4. Boolean

'''

'\n1. Numbers\n2. String\n3. List/Tuples/Arrays/Dictionaries\n4. Boolean\n\n'

In [3]:
x = 4
y= 'Sample string'
name = 'Bayo'

In [4]:
y = 6

In [5]:
sum = x + y

In [6]:
print(sum)

10

In [9]:
print(f'The sum  is {sum} of x and y ')

The sum  is 10 of x and y

In [10]:
x = 9.5

In [11]:
hasMortgage = True

In [13]:
hasMortgage = False

In [14]:
type(hasMortgage)

bool

In [15]:
type(x)

float

In [16]:
type(y)

int

In [17]:
type(name)

str

In [18]:
scores = [98, 78, 53, 24]  #index - start from 0 first value, -1, from the last value)

In [19]:
type(scores)

list

In [22]:
scores_tuple =(95, 52, 22, 32, 34, 32)

In [23]:
type(scores_tuple)

tuple

In [24]:
set_scores_tuple= set(scores_tuple)

In [25]:
print(set_scores_tuple)

{32, 34, 52, 22, 95}

In [26]:
newSet = {45, 69,"sd"}

In [27]:
## compare and contrast - set, list and tuple

In [30]:
scores[3]

24

#### Concatenate strings

In [31]:
a = "Hello"  # list; list of characters, make of use indexes. a[3] indexes from 0.

In [32]:
b = "Data Analysis students"

In [39]:
c= a +"\n" + b # escape character with strings \t, \n

In [40]:
print(c)

Hello
Data Analysis students

In [41]:
a[3]

'l'

In [42]:
a[4]

'o'

In [43]:
a[1:3] # will start from index 1, and stop at 2. Index 3 will be excluded

'el'

#### Conditional Statements

In [45]:
'''compare if Equality ==
>
>=
<
<=
!=
'''

'compare if Equality ==\n>\n>=\n<\n<=\n'

In [46]:
x = 4

In [47]:
x != 4

False

In [48]:
x > 4

False

In [49]:
x==4

True

In [51]:
x == '4'

False

In [52]:
x == int('4')

True

In [53]:
y = 32

In [57]:
if y>x:  #Indentation is key in Python.
    print(f'The value of y:  {y} is greater than the value of x: {x}')

The value of y:  32 is greater than the value of x: 4

In [65]:
num1 = 300
num2 = 300

if (num1 > num2):
    print('num1 is a bigger number')
elif (num1 < num2):
    print('num1 is a smaller number')
else:
    print('equal number')

equal number