## Python Fundamentals

## Variables

In [54]:
'''This is to explain variables 

1. Numbers
2. Strings
3. List/Tuples/Arrays/Dictionaries --- to store multiple values in a variable.
4. Boolean
'''

'This is to explain variables \n\n1. Numbers\n2. Strings\n3. List/Tuples/Arrays/Dictionaries --- to store multiple values in a variable.\n4. Boolean\n'

In [49]:
x= 4
y='Sample string'
name = 'Olatunde'

In [3]:
y= 6

In [5]:
sum = x+y

In [9]:
print(sum)

10

In [10]:
print(f'The sum of x and y is {sum}')

The sum of x and y is 10

In [11]:
x = 9.5

In [12]:
hasMortgage = True

In [13]:
hasMortgage = False

In [14]:
type(hasMortgage)

bool

In [15]:
type(x)

float

In [16]:
type(y)

int

In [17]:
type(name)

str

In [18]:
score = [98, 78, 53, 24]  #index -start from 0 first value, -1, from the last value)

In [19]:
type(score)

list

In [20]:
score_tuple = (95,52,22,32)

In [21]:
type(score_tuple)

tuple

In [22]:
set_scores_tuple = set(score_tuple)

In [23]:
print(set_scores_tuple)

{32, 52, 22, 95}

In [25]:
newSet = (45, 68, "sd")

In [26]:
## compare and contrast - set, list and tuple

In [28]:
score[0]

98

In [29]:
score[-3]

78

In [30]:
score[-1]

24

In [32]:
score[3]

24

### Concatenate strings

In [33]:
a ="Hello" # list; list of characters and words, make use of indexes, a[3] indexes from 0.

In [34]:
b ="Data Analysis Students"

In [42]:
c = a +"\n" + b #escape character[with strings \t, \n, \\]

In [43]:
print(c)

Hello
Data Analysis Students

In [44]:
a[3]

'l'

In [45]:
a[0]

'H'

In [46]:
a[1:3] # will start from index 1, and stop at 2, index 3 will be excluded

'el'

## Conditional  Statement

In [53]:
'''compare if Equality --
>
>=
<
<=
'''

'compare if Equality --\n>\n>=\n<\n<=\n'

In [55]:
x =4 (assigning a value)

In [56]:
x != 4

False

In [57]:
x>4

False

In [58]:
x==4 (asking question)

True

In [59]:
x =='4'

False

In [60]:
x== int('4')

True

In [61]:
y = 32

In [62]:
if y>x: #indentation is key in python.
    print(f' The value of y: {y} is greater than the value of x: {x}')

 The value of y: 32 is greater than the value of x: 4

In [63]:
num1 = 300
num2 = 300
    
if (num1 > num2):
    print('num1 is a bigger number')
elif (num1 < num2):
    print('num1 is a smaller number')
else:
    print('equal number')

equal number

In [64]:
num1 = 200
num2 = 300
    
if (num1 > num2):
    print('num1 is a bigger number')
elif (num1 < num2):
    print('num1 is a smaller number')
else:
    print('equal number')

num1 is a smaller number

In [65]:
num1 = 400
num2 = 300
    
if (num1 > num2):
    print('num1 is a bigger number')
elif (num1 < num2):
    print('num1 is a smaller number')
else:
    print('equal number')

num1 is a bigger number